.app {
  margin: 0 auto;
  padding: 40px;
  max-width: fit-content;

  &__header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-end;
  }

  &__table {
    margin: 0 auto;
  }
}

.table {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: 100%;

  &__head {
    &-value {
      text-align: center !important; 
    }
  }
}